a.nav-link {
    margin-left: 1rem;
    font-family: inherit;
    font-size: larger;
}

.btn {
    background-color: #205c69!important;
    color: white;
}

.btn.active {
    background-color: #467f88!important;
}

.btn-group {
    color: white;
}

.btn-group>.btn:first-child {
    margin: 0 auto;
}


/* .navbar{
    height: 9%;
} */

.navbar-brand {
    margin-right: 0 !important;
}


/* @media screen and (max-width: 400px) {
    .navbar-brand img {
        width: 85px;
        height: 35px;
    }
    .nav-header-data {
        font-size: 14px !important;
        font-family: sans-serif;
        color: #ffffff;
        text-align: end;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50% !important;
    }
} */

@media screen and (max-width:768px) {
    .navbar-brand img {
        width: 95px;
        height: 37px;
    }
    .nav-header-data {
        font-size: 14px !important;
        font-family: sans-serif;
        color: #ffffff;
        text-align: end;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50% !important;
    }
}

.nav-header-data {
    font-size: 18px;
    font-family: sans-serif;
    color: #ffffff;
    text-align: end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
}

@media screen and (max-width: 991px) {
    .nav-header-data {
        text-align: center;
    }
    .btn {
        border-top: 1px solid grey;
    }
    .last-btn-group {
        border-bottom: 1px solid grey;
    }
}

.navbar-toggler {
    align-self: flex-end;
}

img {
    width: 175px;
    height: 53px;
}

.bg-primary {
    background-color: #205c69!important;
}

.icons {
    vertical-align: bottom;
}
.mat-spinner-color::ng-deep circle{
    stroke: #FFFFFF !important;
    }