/* table, th, td {
  border: 1px solid black;
} */
.table-mat-card{
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px 0px;
}
.section-content{
    margin-top: 7%;
    height: 93%;
}
header {
  background-color: #333;
  color: #fff;
  overflow: auto;
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.table-responsive{
  /* height: 70%; */
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
mat-icon {
  cursor: pointer;
}

.action-container {
  display: flex;
  justify-content: space-between;
  height: 80% !important;
}

.mat-table { 
  height: 80%;
}

.table tbody tr td,
.table thead th,
.table thead {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

span.ui-column-resizer {
  width: 100%;
  height: 100%;
  cursor: col-resize;
}

.hide-card{
  cursor: pointer;
  text-align: center;
}
.show-card{
    cursor: pointer;
    text-align: center;
}
mat-card-title{
  padding-left: 30%;
}
mat-toolbar{
  height: 40px;
  padding-top: 15px;
  margin: 0 auto;
  width:30%;
}
/* .input-field {
  width: 100% !important;
} */
.beat-card{
  width: 95%;
  margin: 0 auto;
  padding: 10px 10px 0px;
}
.beat-card-two {
  width: 95%;
  margin: 0 auto;
  padding: 10px 10px 0px;
}
.beat-card-three {
  width: 95%;
  margin: 0 auto;
  padding: 10px 10px 0px;
}
.beat-card-content-two{
  display: row;
}
.beat-card-content-three{
  display: row;
  margin-bottom: 30px;
}
.beat-card-content{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:690px){
    .content-section{
        padding-top: 13%;
    }
    .beat-card-content{
        display: inherit;
    }
    .beat-card{
        padding: 24px 10px 0px;
    }
}

table {
  width: 100%;
}
 /* table {
  width: 100%;
  max-width: 100%;
    overflow: auto;
  }*/
  /* mat-input{
    width: 100% !important;
  }  */
td.mat-cell {
    text-align: center;
    border: 1px solid #bbb6b6;
}
th.mat-header-cell {
  text-align: center;
  border: 1px solid #CCC;
  background-color:#205c69;
  color: #ccc; 
}
/* 'Device-No','SectionName', 'KmStart', 'KmEnd','start_time1','end_time1','start_time2','end_time2','start_time3','end_time3','start_time4','end_time4','start_time5','end_time5','start_time6','end_time6','start_time7','end_time7','start_time8','end_time8','delete' */

th.mat-column-SectionName,  td.mat-column-SectionName, th.mat-column-Device-No,  td.mat-column-Device-No {
  flex:35%;
  /* width: 100px !important; */
  /* text-align: center; */
  /* padding-left: 24px !important;
  padding-right: 24px!important; */
} 
/* .mat-header-cell:nth-child(3),.mat-cell:nth-child(3){
  flex:85%;
} */
/* th.mat-column-KmStart, th.mat-column-KmEnd,th.mat-column-start_time1, th.mat-column-end_time1,th.mat-column-start_time2, th.mat-column-end_time2,th.mat-column-start_time3, th.mat-column-end_time3,th.mat-column-start_time4, th.mat-column-end_time4,th.mat-column-start_time5, th.mat-column-end_time5,
th.mat-column-start_time6, th.mat-column-end_time6,th.mat-column-start_time7, th.mat-column-end_time7,
th.mat-column-start_time8, th.mat-column-end_time8
{ 
  flex: 10% !important; 
}

td.mat-column-KmStart, td.mat-column-KmEnd,td.mat-column-start_time1, td.mat-column-end_time1,td.mat-column-start_time2, td.mat-column-end_time2,td.mat-column-start_time3, td.mat-column-end_time3,td.mat-column-start_time4, td.mat-column-end_time4,td.mat-column-start_time5, td.mat-column-end_time5,
td.mat-column-start_time6, td.mat-column-end_time6,td.mat-column-start_time7, td.mat-column-end_time7,
td.mat-column-start_time8, td.mat-column-end_time8
{
  flex: 10% !important;
} */


  th.mat-column-delete, td.mat-column-delete {
    text-align: center;
  }

  .w-75{
    max-width: 75px;
  }
.w-100{
  max-width: 100px;
}                     
.mat-input-wrapper{
  width:400px !important;
}