<div class="section-content">
  <!-- <mat-card class="beat-card"*ngIf="showBeatCard" [@slideVerticle]>
    <mat-card-header>
      <mat-toolbar>
        <mat-card-title style="font-size:17px">Beat Insert Module</mat-card-title>
      </mat-toolbar>
    </mat-card-header>  
    <mat-card-content class="beat-card-content">
      <div class="myMatOptions">
      <mat-form-field>
        <mat-select placeholder="Select Form" (selectionChange)="selectBeatFormType($event.value)">
          <mat-option value="keymen">Keymen Beat Insert</mat-option>
          <mat-option value="patrolmen">Patrolmen Beat Insert</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
    </mat-card-content> 
  </mat-card>
  <div class="hide-card" *ngIf="showBeatCard; else forward">
    <span><img src="assets/collapse.png" width="30px" height="30px" (click)="hideSeekReportCard()"></span>
  </div>
  <ng-template #forward>
    <div class="show-card">
      <img src="assets/expand.png" width="30px" height="30px" (click)="hideSeekReportCard()">
    </div>
  </ng-template> -->

  <!-- patrolmen beat form -->
    <form [formGroup]="patrolmenBeatForm">
      <!-- <div [hidden]="patrolmenForm"> -->
      <mat-card class="beat-card-two">
      <mat-card-content class="beat-card-content-two">
        <div class="row" style="margin-bottom:10px">
          <div class="col-md-2" style="margin-bottom:10px">
            <button (click)="add()" style="text-align: center;background-color: #09a0a0 !important; color: white;" mat-raised-button>Add row</button>
          </div>
  
          <div class="col-md-3">
            <mat-label style="margin-right: 5px;"><strong>Season: </strong></mat-label>
            <mat-radio-group formControlName="season">
              <mat-radio-button [value]="1" style="margin-right: 5px;">Summer</mat-radio-button>
              <mat-radio-button [value]="2" style="margin-right: 5px;">Rainy</mat-radio-button>
              <mat-radio-button [value]="3">Winter</mat-radio-button>
              <!-- <mat-error>Please Select Season</mat-error> -->
            </mat-radio-group>
          </div>
  
          <div class="col-md-6">
            <strong style="font-size: 20px;">Patrolmen Beat Insert</strong>
          </div>

          <div class="col-md-1" style="margin-bottom:10px">
            <button mat-raised-button (click)="submit()" style="background: #09a0a0; color: white;" class="float-right">
              Save
            </button>
          </div>
        </div>
      </mat-card-content> 
    </mat-card>


      <div class="example-container mat-elevation-z8" class="action-container">
        <table mat-table [dataSource]="getFormControls.controls">
          <!-- column 1 -->
          <ng-container matColumnDef="Device-No">
            <th [ngStyle]="{'display': 'none'}" mat-header-cell *matHeaderCellDef [attr.rowspan]="2" > Device Name </th>
            <td mat-cell *matCellDef="let element">
                <ng-select style="width:100%" [items]="devList" [virtualScroll]="true" bindLabel="name" bindValue="student_id" [formControl]="element.get('DeviceNo')" >
                </ng-select>
              <mat-error *ngIf="element.get('DeviceNo')?.invalid">  
                <div *ngIf="element.get('DeviceNo').errors?.required && (element.get('DeviceNo').dirty || element.get('DeviceNo').touched)">This is required.</div>  
              </mat-error>
            </td>
          </ng-container>

          <!-- column 2 -->
          <ng-container matColumnDef="SectionName">
            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [ngStyle]="{'display': 'none'}"> Section Name </th>
            <td mat-cell *matCellDef="let element">
                <!-- <ng-select [items]="section" [virtualScroll]="true" bindLabel="name" bindValue="id" [formControl]="element.get('SectionName')">
                </ng-select> -->
                <input placeholder="Start Time" arrow-div [formControl]="element.get('SectionName')" style="width:75px">
              <mat-error *ngIf="element.get('SectionName')?.invalid">  
                <div *ngIf="element.get('SectionName').errors?.required && (element.get('SectionName').dirty || element.get('SectionName').touched)">This is required.</div>  
              </mat-error>
            </td>
          </ng-container>

              <!-- column 3 -->
          <ng-container matColumnDef="KmStart">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [ngStyle]="{'display': 'none'}"> Km Start </th>
                <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                  <input placeholder="Km Start" [formControl]="element.get('KmStart')" style="width:75px">
                  <mat-error *ngIf="element.get('KmStart')?.invalid">  
                     <div *ngIf="element.get('KmStart').errors?.required && (element.get('KmStart').dirty || element.get('KmStart').touched)">This is required.</div> 
                  </mat-error>
                    <mat-error *ngIf="element.get('KmStart').errors?.pattern">Enter valid format.</mat-error>
                </td>
          </ng-container>
          <!-- column 4 -->
          <ng-container matColumnDef="KmEnd">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [ngStyle]="{'display': 'none'}"> Km End </th>
            <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="Km End" arrow-div [formControl]="element.get('KmEnd')" style="width:75px">
                <mat-error *ngIf="element.get('KmStart')?.invalid">
                  <div *ngIf="element.get('KmEnd').errors?.required && (element.get('KmEnd').dirty || element.get('KmEnd').touched)">This is required.</div> 
                </mat-error>
                <mat-error *ngIf="element.get('KmEnd').errors?.pattern">Enter valid format.</mat-error>
            </td>
          </ng-container>
            <!-- column 5 -->
          <ng-container matColumnDef="start_time1">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time1')" style="width:75px">
                <mat-error *ngIf="element.get('start_time1').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>
          <!-- column 6 -->
          <ng-container matColumnDef="end_time1">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
              <input placeholder="End Time" arrow-div [formControl]="element.get('end_time1')" style="width:75px">
                <mat-error *ngIf="element.get('end_time1').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>

          <ng-container matColumnDef="start_time2">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time2')" style="width:75px">
                <mat-error *ngIf="element.get('start_time2').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>
          
          <ng-container matColumnDef="end_time2">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="End Time" arrow-div [formControl]="element.get('end_time2')" style="width:75px">
                <mat-error *ngIf="element.get('end_time2').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>

          <ng-container matColumnDef="start_time3">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time3')" style="width:75px">
                <mat-error *ngIf="element.get('start_time3').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>
          
          <ng-container matColumnDef="end_time3">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="End Time" arrow-div [formControl]="element.get('end_time3')" style="width:75px">
                <mat-error *ngIf="element.get('end_time3').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>

          <ng-container matColumnDef="start_time4">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time4')" style="width:75px">
                <mat-error *ngIf="element.get('start_time4').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>
          
          <ng-container matColumnDef="end_time4">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="End Time" arrow-div [formControl]="element.get('end_time4')" style="width:75px">
                <mat-error *ngIf="element.get('end_time4').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>

          <ng-container matColumnDef="start_time5">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time5')" style="width:75px">
                <mat-error *ngIf="element.get('start_time5').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>
          
          <ng-container matColumnDef="end_time5">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="End Time" arrow-div [formControl]="element.get('end_time5')" style="width:75px">
                <mat-error *ngIf="element.get('end_time5').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>

          <ng-container matColumnDef="start_time6">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time6')" style="width:75px">
                <mat-error *ngIf="element.get('start_time6').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>
          
          <ng-container matColumnDef="end_time6">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="End Time" arrow-div [formControl]="element.get('end_time6')" style="width:75px">
                <mat-error *ngIf="element.get('end_time6').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>

          <ng-container matColumnDef="start_time7">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time7')" style="width:75px">
                <mat-error *ngIf="element.get('start_time7').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>
          
          <ng-container matColumnDef="end_time7">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="End Time" arrow-div [formControl]="element.get('end_time7')" style="width:75px">
                <mat-error *ngIf="element.get('end_time7').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>

          <ng-container matColumnDef="start_time8">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> Start Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="Start Time" arrow-div [formControl]="element.get('start_time8')" style="width:75px">
                <mat-error *ngIf="element.get('start_time8').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>
          
          <ng-container matColumnDef="end_time8">
            <th [ngClass]="'w-75'" mat-header-cell *matHeaderCellDef> End Time </th>
              <td [ngClass]="'w-75'" mat-cell *matCellDef="let element">
                <input placeholder="End Time" arrow-div [formControl]="element.get('end_time8')" style="width:75px">
                <mat-error *ngIf="element.get('end_time8').errors?.pattern">Enter 01:00,22:00(24-hour) format.</mat-error>
              </td>
          </ng-container>

              <!-- column 13 -->
          <ng-container matColumnDef="delete">
            <th [ngClass]="'w-100'" mat-header-cell *matHeaderCellDef [attr.rowspan]="2" [ngStyle]="{'display': 'none'}">Action</th>
                <td [ngClass]="'w-100'" mat-cell *matCellDef="let element;let i=index;">
                  <button arrow-div mat-button (click)="delete(i)" style=" background-color: #ff0000af; border-radius: 20px; color: white;" mat-icon-button matTooltip="Delete"> <mat-icon>delete</mat-icon></button>
                </td>
          </ng-container>

          <ng-container matColumnDef="header-row-first-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2"> Device No.
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-sec-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2"> Section Name
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-third-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2" >Km Start
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-forth-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2"> Km End
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-trip1-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Round trip-1 
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-trip2-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Round trip-2 
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-trip3-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Round trip-3 
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-trip4-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Round trip-4
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-trip5-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Round trip-5 
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-trip6-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Round trip-6 
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-trip7-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Round trip-7 
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-trip8-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.colspan]="2">Round trip-8
            </th>
          </ng-container>

          <ng-container matColumnDef="header-row-action-group">
            <th mat-header-cell *matHeaderCellDef [style.text-align]="center" [attr.rowspan]="2">Action
            </th>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['header-row-first-group','header-row-sec-group', 'header-row-third-group','header-row-forth-group','header-row-trip1-group','header-row-trip2-group','header-row-trip3-group','header-row-trip4-group','header-row-trip5-group','header-row-trip6-group','header-row-trip7-group','header-row-trip8-group', 'header-row-action-group']"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
    <!-- </div> -->
    </form>


   <ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.wanderingCubes, backdropBorderRadius: '3px'}" [template]="customLoadingTemplate"></ngx-loading>
   <ng-template #customLoadingTemplate>
       <!-- <div class="loader">
           <img [src]="'../assets/PTLogo.png'">
       </div> -->
   </ng-template>
</div>
