<div class="content-section">
  <mat-icon style="float:right; border: 1px solid lightgrey;" (click)="onNoClick()">close</mat-icon>
  <h1 mat-dialog-title>ADD MASTER TRIP</h1>
  <mat-card class="example-card">
    <mat-card-content>
      <form class="example-form" [formGroup]="addMasterTrip" >
        <div class="row">
       
          <mat-form-field class="col-md-6">
            <mat-label>Trip - StartTime</mat-label>
            <input type="text" matInput placeholder="Trip StartTime" name="tripStartTime" formControlName="tripStartTime">
            <mat-error *ngIf="hasError('tripStartTime', 'required')">This field is mandatory.</mat-error>
            <mat-error *ngIf="hasError('tripStartTime', 'pattern')">Enter Valid time format (eg: 12:00)</mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <mat-label>Trip - EndTime</mat-label>
            <input type="text" matInput placeholder="Trip EndTime" name="tripEndTime" formControlName="tripEndTime">
            <mat-error *ngIf="hasError('tripEndTime', 'required')">This field is mandatory.</mat-error>
            <mat-error *ngIf="hasError('tripEndTime', 'pattern')">Enter Valid time format (eg: 12:00)</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-md-6">
            <mat-label>Trip Name</mat-label>
            <input type="text" matInput placeholder="Trip Name" name="tripName" formControlName="tripName">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <small class="col-md-12"> 
            <strong style="color: red;">*</strong>Enter Trip name in the format of sectionName_Season_Time_startTime_endTime; e.g: JP_SUM_T1_11:30_13:00</small>
        </div> 
        <br>
        <div>
          <button style="background-color: #205c69; color: white" class="btn" mat-button mat-raised-button (click)="addMasterBeat()">Save</button> &nbsp;&nbsp;
          <button style="background-color: #ff0000af; color: white" class="btn" mat-button mat-raised-button (click)="resetForm()">Reset</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.wanderingCubes, backdropBorderRadius: '3px'}"></ngx-loading>
</div>