<div class="content-section">
  <mat-card-header class="col-md-12"> 
    <mat-card-title>ISSUE LOGS</mat-card-title>
  </mat-card-header>
  <mat-card class="example-card">
    <mat-card-content style="background: ghostwhite; ">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field style="width: 100%">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
        </div>   
     
      <div>
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8"
        style="margin-top: 15px;" matSort> 
          <ng-container matColumnDef="issueTitle">
            <th mat-header-cell *matHeaderCellDef> Issue Title </th>
            <td mat-cell *matCellDef="let element"> {{element.issueTitle}} </td>
          </ng-container>
            
          <ng-container matColumnDef="contactPerson">
            <th mat-header-cell *matHeaderCellDef>Contact Person</th>
            <td mat-cell *matCellDef="let element"> {{element.contactPerson}} </td>
          </ng-container>
      
          <ng-container matColumnDef="contactPersonMobNo">
              <th mat-header-cell *matHeaderCellDef>Contact Number</th>
              <td mat-cell *matCellDef="let element"> {{element.contactPersonMobNo}} </td>
          </ng-container>

          <ng-container matColumnDef="divisionName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Division Name</th>
            <td mat-cell *matCellDef="let element">{{element.divisionName}}</td>
          </ng-container>

          <ng-container matColumnDef="issueTicketId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticket ID</th>
            <td mat-cell *matCellDef="let element">{{element.issueTicketId}}</td>
          </ng-container>
      
          <ng-container matColumnDef="deviceName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >Device Name</th>
            <td mat-cell *matCellDef="let element"> {{element.deviceName}} </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="tableHeader.length">
              <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="row example-element-description">
                  <div class="col-md-12" style="text-align: left;"><strong>Issue Comment: </strong> {{element.issueComment}}</div>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
          <tr mat-row *matRowDef="let element; columns: tableHeader;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element" 
            (click)="expandedElement === element? expandedElement = null : expandedElement = element">
          </tr>
          <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="example-detail-row">
          </tr>
          <!-- <tr mat-row *matRowDef="let element; columns: tableHeader;"></tr> -->
        </table>
        <mat-paginator [pageSizeOptions]="[30,25,50,100,500]"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
  <ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.wanderingCubes, backdropBorderRadius: '3px'}" ></ngx-loading>
  </div>